<div class="title-wrapper pt-30">
  <div class="row align-items-center">

    <div class="col-md-6">
      <div class="title d-flex align-items-center flex-wrap mb-30">
        <h2 class="mr-40">{{ title }}</h2>
        {% if actions is defined %}
          {% for action in actions %}
            {% if action.type|default(null) == 'form' %}

              {{ form_start(action.form, {
                'method': 'POST',
                'action': action.path|default(''),
                'attr': {
                  'id': action.id|default(''),
                }
              }) }}
                {% if action.icon is defined %}
                  {{ form_row(action.form.submit, {'label': '<i class="fa-solid ' ~ action.icon ~ '"></i>' ~ action.title|default('')}) }}
                {% else %}
                  {{ form_row(action.form.submit, {'label': action.title|default('')}) }}
                {% endif %}
              {{ form_end(action.form) }}

            {% elseif action.type|default(null) == 'modal' %}

              <a href="#" class="main-btn primary-btn btn-hover btn-sm" data-bs-toggle="modal" data-bs-target="#{{ action.target|default('modal') }}">
                <i class="fa-solid {{ action.icon|default('fa-triangle-exclamation') }}"></i> {{ action.title|default('') }}
              </a>

            {% elseif action.type|default(null) == 'ajax' %}

              <a href="{{ action.path|default('#') }}" onclick="event.preventDefault();" class="main-btn primary-btn btn-hover btn-sm"{% if action.id|default(null) %} id="{{ action.id }}"{% endif %}>
                <i class="fa-solid {{ action.icon|default('fa-triangle-exclamation') }}"></i> {{ action.title|default('') }}
              </a>

            {% else %}

              <a href="{{ action.path|default('#') }}" class="main-btn primary-btn btn-hover btn-sm"{% if action.id|default(null) %} id="{{ action.id }}"{% endif %}>
                <i class="fa-solid {{ action.icon|default('fa-triangle-exclamation') }}"></i> {{ action.title|default('') }}
              </a>

            {% endif %}
          {% endfor %}
        {% endif %}
      </div>
    </div>

    {# nav #}
    <div class="col-md-6">
      {% if navs is defined %}
        <div class="breadcrumb-wrapper mb-30">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{{ path('app_admin_dashboard') }}">Dashboard</a>
              </li>
              {% for nav in navs %}
                {% if loop.last %}
                  <li class="breadcrumb-item active" aria-current="page">
                {% else %}
                  <li class="breadcrumb-item">
                {% endif %}
                  <a href="{{ nav.path|default('#') }}">{{ nav.title|default('<i class="fa-solid fa-anchor"></i>') }}</a>
                </li>
              {% endfor %}
            </ol>
          </nav>
        </div>
      {% endif %}
    </div>

  </div>
</div>
