{% extends 'theme/admin/base.html.twig' %}

{% block title %}Twitthor - My Password{% endblock %}

{% block body %}
  {% include 'theme/admin/common/_title_wraper.html.twig' with {
    'title': 'My Password',
    'navs': [
      {'title': 'Password', 'path': path('app_profile_password')},
    ]
  } %}

  {{ form_start(form) }}
    <div class="row">

      <div class="col-lg-6">
        <div class="card-style settings-card-1 mb-30">
          <div class="title mb-30 d-flex justify-content-between align-items-center">
            <h6>My Password</h6>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="input-style-1">
                {{ form_label(form.plainPassword) }}
                {{ form_widget(form.plainPassword) }}
                <div class="form-error">
                  {{ form_errors(form.plainPassword) }}
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="input-style-1">
                {{ form_label(form.newPassword) }}
                {{ form_widget(form.newPassword) }}
                <div class="form-error">
                  {{ form_errors(form.newPassword) }}
                </div>
              </div>
            </div>
            <div class="col-12">
              {{ form_row(form.submit) }}
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6"></div>
    </div>
  {{ form_end(form) }}
{% endblock %}
