{% extends 'theme/admin/base.html.twig' %}

{% block title %}Twitthor - My Profile{% endblock %}

{% block body %}
  {% include 'theme/admin/common/_title_wraper.html.twig' with {
    'title': 'My Profile',
    'navs': [
      {'title': 'Plofile', 'path': path('app_profile_edit')},
    ]
  } %}

  {{ form_start(form) }}
    <div class="row">

      <div class="col-lg-6">
        <div class="card-style settings-card-1 mb-30">
          <div class="title mb-30 d-flex justify-content-between align-items-center">
            <h6>My Profile</h6>
          </div>
          <div class="profile-info">
            <div class="d-flex align-items-center mb-30">
              <div class="profile-image">
                <img src="{{ asset('src/images/profile/profile-1.png') }}" alt="Avatar">
              </div>
              <div class="profile-meta">
                <h5 class="text-bold text-dark mb-10">{{ app.user.twUsername|default(app.user.email) }}</h5>
                <p class="text-sm text-gray">{{ app.user.email }}</p>
              </div>
            </div>
            <div class="col-12">
              <div class="input-style-1">
                {{ form_label(form.walletEth) }}
                {{ form_widget(form.walletEth) }}
                <div class="form-error">
                  {{ form_errors(form.walletEth) }}
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="input-style-1">
                {{ form_label(form.walletSol) }}
                {{ form_widget(form.walletSol) }}
                <div class="form-error">
                  {{ form_errors(form.walletSol) }}
                </div>
              </div>
            </div>
            <div class="input-style-1">
              {{ form_label(form.plainPassword) }}
              {{ form_widget(form.plainPassword) }}
              <div class="form-error">
                {{ form_errors(form.plainPassword) }}
              </div>
            </div>
            <div class="col-12">
              {{ form_row(form.submit) }}
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6"></div>
    </div>
  {{ form_end(form) }}
{% endblock %}
