{% if settings is defined %}
  <p>
    <strong>Selected setting :</strong>
    <p>
      <div class="alert-box info-alert">
        <div class="alert p-2">
          <p class="text-medium">
            <i class="fa-solid fa-gear"></i> {{ settings.name }}
          </p>
        </div>
      </div>
    </p>
  </p>

  <p>
    <div class="alert-box secondary-alert">
      <div class="alert">
        <p class="text-medium">
          <i class="fa-solid fa-forward"></i> Following rate limit : <span id="js-call-counts-following">{{ settings.following.callCnt|default(0) }}</span> / {{ settings.following.callLimit|default(0) }} per {{ settings.following.callIntervale|default(15) }} minutes
        </p>
        <hr>
        <p class="text-medium">
          <i class="fa-solid fa-backward"></i> Followers rate limit : <span id="js-call-counts-followers">{{ settings.followers.callCnt|default(0) }}</span> / {{ settings.followers.callLimit|default(0) }} per {{ settings.followers.callIntervale|default(15) }} minutes
        </p>
      </div>
    </div>
  </p>
{% endif %}

{% if warning is defined and warning != false %}
  <p>
    <div class="alert-box danger-alert alert-box-result">
      <div class="alert">
        <p class="text-medium">
          {{ warning.message|default('Warrning') }}
        </p>
      </div>
    </div>
  </p>
{% endif %}

<p class="result">
  <div class="alert-box success-alert alert-box-result" style="display:none;">
    <div class="alert">
      <p id="alert-box-result-message" class="text-medium">
        Updating... Please do not close ;)
      </p>
    </div>
  </div>
</p>

{% if warning == false or (warning is defined and warning.code not in ['notFoundSettings','exceededLimit']) %}
  <p>
    <strong class="text-sm">
      <i class="fa-solid fa-triangle-exclamation"></i> After launch, please do not close. It may take time...
    </strong>
  </p>
{% endif %}
