{% if settings is defined %}
  <p class="mb-10">
    <strong>Selected Setting :</strong><br>
    <i class="fa-solid fa-gear"></i> {{ settings.name }}
  </p>

  <p>
    <div class="alert-box secondary-alert">
      <div class="alert">
        <p class="text-medium">
          Rate limit : <span id="twapi-call-counts">{{ settings.callCnt|default(0) }}</span> / {{ twApiCallLimit|default(0) }} per {{ twApiCallIntervale|default(15) }} minutes
        </p>
      </div>
    </div>
  </p>
{% endif %}

{% if warning is defined and warning != false %}
  <p>
    <div class="alert-box danger-alert alert-box-result">
      <div class="alert">
        <p class="text-medium">
          {{ warning.message|default('Warrning') }}
        </p>
      </div>
    </div>
  </p>
{% endif %}

<p>
  <div class="alert-box success-alert alert-box-result" style="display:none;">
    <div class="alert">
      <p id="alert-box-result-message" class="text-medium">
        Created : 0 / Updated : 0
      </p>
    </div>
  </div>
</p>

{% if warning == false or (warning is defined and warning.code not in ['notFoundSettings','exceededLimit']) %}
  <p>
    <strong class="text-sm">
      <i class="fa-solid fa-triangle-exclamation"></i> After launch, please do not close. It may take time...
    </strong>
  </p>
{% endif %}
