{% extends 'base.html.twig' %}

{% block title %}Twitthor - Edit My Profile{% endblock %}

{% block header %}{% include 'partials/_header.html.twig' %}{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Edit My Profile</h1>

        {{ form_start(form) }}

            <div class="form-group">
                {{ form_label(form.walletEth) }}
                {{ form_widget(form.walletEth) }}
                <div class="form-error">
                    {{ form_errors(form.walletEth) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.walletSol) }}
                {{ form_widget(form.walletSol) }}
                <div class="form-error">
                    {{ form_errors(form.walletSol) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.plainPassword) }}
                {{ form_widget(form.plainPassword) }}
                <div class="form-error">
                    {{ form_errors(form.plainPassword) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_row(form.submit) }}
            </div>

        {{ form_end(form) }}

    </div>
{% endblock %}
