{% extends 'base.html.twig' %}

{% block title %}Twitthor Pro - Edit Follower{% endblock %}

{% block header %}{% include 'partials/_header.html.twig' %}{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Edit follower</h1>

        {{ form_start(form) }}

            <div class="form-group">
                {{ form_label(form.twUserId) }}
                {{ form_widget(form.twUserId) }}
                <div class="form-error">
                    {{ form_errors(form.twUserId) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.twUsername) }}
                {{ form_widget(form.twUsername) }}
                <div class="form-error">
                    {{ form_errors(form.twUsername) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.twName) }}
                {{ form_widget(form.twName) }}
                <div class="form-error">
                    {{ form_errors(form.twName) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.twIsVerified) }}
                {{ form_widget(form.twIsVerified) }}
                <div class="form-error">
                    {{ form_errors(form.twIsVerified) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.walletEth) }}
                {{ form_widget(form.walletEth) }}
                <div class="form-error">
                    {{ form_errors(form.walletEth) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.walletSol) }}
                {{ form_widget(form.walletSol) }}
                <div class="form-error">
                    {{ form_errors(form.walletSol) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.isFavorite) }}
                {{ form_widget(form.isFavorite) }}
                <div class="form-error">
                    {{ form_errors(form.isFavorite) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_row(form.submit) }}
            </div>

        {{ form_end(form) }}

    </div>
{% endblock %}
