{% extends 'base.html.twig' %}

{% block title %}Twitthor - My Follows{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>My Follows</h1>
        {% if follows is same as([]) %}
            Zero data.
        {% else %}
            {# total items count #}
            <div class="count">
                Total: {{ follows.getTotalItemCount }} follows found.
            </div>

            <table class="table table-hover mt-4">
                <thead>
                    <tr>
                        <th scope="col">Twitter Name</th>
                        <th scope="col">Twitter Usernme</th>
                        <th scope="col">Twitter ID</th>
                        <th scope="col">Twitter Verified</th>
                        <th scope="col">Wallet ETH</th>
                        <th scope="col">Wallet SOL</th>
                        <th scope="col">Favorite</th>
                        <th scope="col">Created</th>
                        <th scope="col">Updated</th>
                        <th scope="col">Following</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for follow in follows %}
                        <tr class="{{ follow.isFavorite ? 'table-success' : 'table-primary' }}">
                            <th scope="row">{{ follow.twUser.twName }}</th>
                            <td>{{ follow.twUser.twUsername }}</td>
                            <td>{{ follow.twUser.twUserId }}</td>
                            <td>{{ follow.twUser.twIsVerified ? '<span class="badge rounded-pill bg-success">Yes</span>' : '<span class="badge rounded-pill bg-light">No</span>' }}</td>
                            <td>{{ follow.walletEth }}</td>
                            <td>{{ follow.walletSol }}</td>
                            <td><span class="badge rounded-pill bg-light">{{ follow.isFavorite ? 'Yes' : 'No' }}</span></td>
                            <td>{{ follow.createAt|date('d/m/Y h:i') }}</td>
                            <td>{{ follow.updateAt|date('d/m/Y h:i') }}</td>
                            <td>
                                <a href="#" class="btn btn-warning">Unfollow</a>
                            </td>
                            <td>
                                <a href="{{ path('app_follow_edit', {id: follow.id}) }}" class="btn btn-primary">Edit</a>
                            </td>
                            <td>
                                <a href="{{ path('app_follow_delete', {id: follow.id}) }}" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            {# display navigation #}
            <div class="navigation d-flex justify-content-center mt-4">
                {{ knp_pagination_render(follows) }}
            </div>
        {% endif %}
    </div>
{% endblock %}
