{% extends 'theme/admin/base.html.twig' %}

{% block title %}Twitthor - Edit Follow{% endblock %}

{% block body %}
  {% include 'theme/admin/common/_title_wraper.html.twig' with {
    'title': 'Follow Edit',
    'navs': [
      {'title': 'Follow edit', 'path': path('app_follow_edit', {'id': follow.id})},
    ]
  } %}

  <div class="form-elements-wrapper">

    {# twitter profile info #}
    <div class="row">
      <div class="col-lg-6">
        <div class="card-style settings-card-1 mb-30">
          <div class="title mb-30 d-flex justify-content-between align-items-center">
            <h6>Profile info</h6>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="profile-info">
                <div class="d-flex align-items-center mb-30">
                  <div class="profile-image">
                    <img src="https://pbs.twimg.com/profile_images/{{ follow.twUser.twProfileImageUrl }}" alt="Avatar">
                  </div>
                  <div class="profile-meta">
                    <h5 class="text-bold text-dark mb-10">{{ follow.twUser.twName }}</h5>
                    <p class="text-sm text-gray">@{{ follow.twUser.twUsername }}</p>
                    <p class="text-sm text-gray">ID : {{ follow.twUser.twUserId }}</p>
                    <p class="text-sm text-gray">Joined : {{ follow.twUser.twCreatedAt|date('d-m-Y H:s') }}</p>
                    <p class="text-sm text-gray">Verified : {{ follow.twUser.twIsVerified ? 'Yes' : 'No' }}</p>
                    <p class="text-sm text-gray">Url : {{ follow.twUser.twUrl }}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="profile-info">
                <div class="d-flex align-items-center mb-30">
                  <div class="profile-meta">
                    <p class="text-sm text-gray">Following : {{ follow.isFollowing ? 'Yes' : 'No' }}</p>
                    <p class="text-sm text-gray">Follow me : {{ follow.isFollower ? 'Yes' : 'No' }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6"></div>
    </div>

    {# twitter profile fields #}
    <div class="row">
      <div class="col-lg-6">

        <div class="card-style mb-30">
          <h6 class="mb-25">Profile fields</h6>
          {{ form_start(form) }}

            <div class="input-style-1">
              {{ form_label(form.walletEth) }}
              {{ form_widget(form.walletEth) }}
              <div class="form-error">
                {{ form_errors(form.walletEth) }}
              </div>
            </div>
            <div class="input-style-1">
              {{ form_label(form.walletSol) }}
              {{ form_widget(form.walletSol) }}
              <div class="form-error">
                {{ form_errors(form.walletSol) }}
              </div>
            </div>
            <div class="form-check form-switch toggle-switch mb-30">
              {{ form_widget(form.isFavorite) }}
              {{ form_label(form.isFavorite) }}
              <div class="form-error">
                {{ form_errors(form.isFavorite) }}
              </div>
            </div>

            <div class="input-style-1">
              {{ form_row(form.submit) }}
            </div>

          {{ form_end(form) }}
        </div>

      </div>
      <div class="col-lg-6"></div>
    </div>
  </div>
{% endblock %}
