{% extends 'theme/admin/base.html.twig' %}

{% block title %}Twitthor - Followers{% endblock %}

{% block body %}
  {# Actions #}
  {% set actions = [] %}
  {% if haveTwApiKeys|default(false) %}
    {% set actions = [
      {'type': 'ajax', 'title': 'Update', 'icon': 'fa-retweet', 'id': 'js-btn-update', 'path': path('app_twitter_api_settings_html_ajax', {'query': 'followers'})}
    ] %}
  {% endif %}

  {% include 'theme/admin/common/_title_wraper.html.twig' with {
    'title': 'Followers',
    'actions': actions,
    'navs': [
      {'title': 'Followers', 'path': path('app_followers')},
    ]
  } %}

  <div class="tables-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <div class="card-style mb-30">
          <h6 class="mb-10">Data Table</h6>

          {% if rows.getTotalItemCount == 0 %}
            <p class="text-sm mb-20">
              Zero data...
            </p>
          {% else %}
            <p class="text-sm mb-20">
              Total: {{ rows.getTotalItemCount }} followers found.
            </p>
            <div class="table-wrapper table-responsive">
              <table class="table table-hover-shadow">
                <thead>
                  <tr class="text-nowrap">
                    <th><h6><i class="fa-brands fa-twitter-square"></i> Name</h6></th>
                    <th><h6><i class="fa-brands fa-twitter-square"></i> Usernme</h6></th>
                    <th><h6><i class="fa-brands fa-twitter-square"></i> Url</h6></th>
                    <th><h6><i class="fa-brands fa-twitter-square"></i> ID</h6></th>
                    <th><h6><i class="fa-brands fa-twitter-square"></i> Joined</h6></th>
                    <th><h6><i class="fa-brands fa-twitter-square"></i> Verified</h6></th>
                    <th><h6>Following</h6></th>
                    <th><h6>Favorite</h6></th>
                    <th><h6>Edit</h6></th>
                    <th><h6>Show</h6></th>
                  </tr>
                </thead>
                <tbody>
                  {% for row in rows %}
                    <tr>
                      <td class="min-width">
                        <div class="lead">
                          <a href="https://twitter.com/{{ row.twUser.twUsername }}" onclick="event.preventDefault();" class="js-btn-tw-profile" rel="noreferrer">
                            <div class="lead-image">
                              <img src="{{ app.request.schemeAndHttpHost ~ row.twUser.avatar }}" alt="Avatar" title="{{ row.twUser.twName }}">
                            </div>
                          </a>
                          <div class="lead-text">
                            <p>{{ row.twUser.twName|slice(0, 20) ~ '...' }}</p>
                          </div>
                        </div>
                      </td>
                      <td class="min-width"><p title="{{ row.twUser.twUsername }}">@{{ row.twUser.twUsername|slice(0, 20) ~ '...' }}</p></td>
                      <td class="min-width"><p title="{{ row.twUser.twUrl }}">{{ row.twUser.twUrl|slice(0, 20) ~ '...' }}</p></td>
                      <td class="min-width"><p>{{ row.twUser.twAccountId }}</p></td>
                      <td class="min-width"><p>{{ row.twUser.twCreatedAt|date('d/m/Y H:i') }}</p></td>
                      <td class="min-width"><p>{{ row.twUser.twIsVerified ? '<span class="badge bg-info">Yes' : '<span class="badge bg-secondary">No' }}</span></p></td>
                      <td class="min-width"><p>{{ row.isFollowing ? '<span class="badge bg-info">Yes' : '<span class="badge bg-secondary">No' }}</span></p></td>
                      <td class="min-width"><p>{{ row.isFavorite ? '<span class="badge bg-info">Yes' : '<span class="badge bg-secondary">No' }}</span></p></td>
                      <td>
                        <div class="action">
                          <a href="{{ path('app_follow_edit', {'id': row.id}) }}" class="btn btn-secondary">Edit</a>
                        </div>
                      </td>
                      <td>
                        <button type="button" value="{{ path('app_twitter_api_unfollow_ajax', {'id': row.id}) }}" class="btn btn-{{ row.isFavorite ? 'info' : 'warning' }} btn-hover js-btn-unfollow">Unfollow</button>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>

              {# display navigation #}
              <div class="table-pagination navigation d-flex justify-content-center mt-4">
                {{ knp_pagination_render(rows) }}
              </div>
            </div>
          {% endif %}

        </div>
      </div>
    </div>
  </div>

  {% if haveTwApiKeys|default(false) %}
    {% import "theme/admin/common/macro/_modal.html.twig" as macroModal %}
    {{ macroModal.withBtnOkClose('modal-twapi-settings', 'Followers update', null, {'path': path('app_twitter_api_update_followers_ajax'), 'id': 'js-btn-update-follow', 'title': 'Go'}) }}
  {% endif %}
{% endblock %}
