{% extends 'theme/admin/base.html.twig' %}

{% block title %}Twitthor - Following{% endblock %}

{% block body %}
  {# Actions #}
  {% set actions = [] %}
  {% if haveTwApiKeys|default(false) %}
    {% set actions = [
      {
        'type': 'form',
        'form': ajaxEasyForm,
        'path': path('app_ajax_twitter_api_keys', {'query': 'following'}),
        'id': 'ajax-get-twapi-keys',
        'title': ' Update',
        'icon': 'fa-retweet'
      },
    ] %}
  {% endif %}

  {% include 'theme/admin/common/_title_wraper.html.twig' with {
    'title': 'Following',
    'actions': actions,
    'navs': [
      {'title': 'Following', 'path': path('app_following')},
    ]
  } %}

  <div class="tables-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <div class="card-style mb-30">
          <h6 class="mb-10">Data Table</h6>

          {% if rows.getTotalItemCount == 0 %}
            <p class="text-sm mb-20">
              Zero data...
            </p>
          {% else %}
            <p class="text-sm mb-20">
              Total: {{ rows.getTotalItemCount }} following found.
            </p>
            <div class="table-wrapper table-responsive">
              <table class="table table-hover-shadow">
                <thead>
                  <tr class="text-nowrap">
                    <th><h6>🐥 Name</h6></th>
                    <th><h6>🐥 Usernme</h6></th>
                    <th><h6>🐥 Url</h6></th>
                    <th><h6>🐥 ID</h6></th>
                    <th><h6>🐥 Joined</h6></th>
                    <th><h6>🐥 Verified</h6></th>
                    <th><h6>Follow me</h6></th>
                    <th><h6>Favorite</h6></th>
                    <th><h6>Edit</h6></th>
                    <th><h6>Action</h6></th>
                  </tr>
                </thead>
                <tbody>
                  {% for row in rows %}
                    <tr>
                      <td class="min-width">
                        <div class="lead">
                          <div class="lead-image">
                            <img src="{{ app.request.schemeAndHttpHost ~ row.twUser.avatar }}" alt="Avatar" title="{{ row.twUser.twName }}">
                          </div>
                          <div class="lead-text">
                            <p>{{ row.twUser.twName|slice(0, 20) ~ '...' }}</p>
                          </div>
                        </div>
                      </td>
                      <td class="min-width"><p title="{{ row.twUser.twUsername }}">@{{ row.twUser.twUsername|slice(0, 20) ~ '...' }}</p></td>
                      <td class="min-width"><p title="{{ row.twUser.twUrl }}">{{ row.twUser.twUrl|slice(0, 20) ~ '...' }}</p></td>
                      <td class="min-width"><p>{{ row.twUser.twAccountId }}</p></td>
                      <td class="min-width"><p>{{ row.twUser.twCreatedAt|date('d/m/Y H:i') }}</p></td>
                      <td class="min-width"><p>{{ row.twUser.twIsVerified ? '<span class="badge bg-info">Yes' : '<span class="badge bg-secondary">No' }}</span></p></td>
                      <td class="min-width"><p>{{ row.isFollower ? '<span class="badge bg-info">Yes' : '<span class="badge bg-secondary">Platonic' }}</span></p></td>
                      <td class="min-width"><p>{{ row.isFavorite ? '<span class="badge bg-info">Yes' : '<span class="badge bg-secondary">No' }}</span></p></td>
                      <td>
                        <div class="action">
                          <a href="{{ path('app_follow_edit', {'id': row.id}) }}" class="btn btn-secondary">Edit</a>
                        </div>
                      </td>
                      <td>
                        <div class="action">
                          <a href="#" class="btn btn-{{ row.isFavorite ? 'info' : 'warning' }}">Unfollow</a>
                        </div>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>

              {# display navigation #}
              <div class="table-pagination navigation d-flex justify-content-center mt-4">
                {{ knp_pagination_render(rows) }}
              </div>
            </div>
          {% endif %}

        </div>
      </div>
    </div>
  </div>

  {% if haveTwApiKeys|default(false) %}
    {% import "theme/admin/common/macro/_modal.html.twig" as macroModal %}

    {{ macroModal.withBtnOkClose('modal-twapi-keys', 'Settings', 'btn-update-following', 'Go') }}

    {{ form(ajaxHiddenForm) }}
  {% endif %}
{% endblock %}
