{% extends 'theme/admin/base.html.twig' %}

{% block title %}Twitthor - Followers{% endblock %}

{% block body %}
  {% include 'theme/admin/common/_title_wraper.html.twig' with {
    'title': 'Followers',
    'actions': [
      {
        'type': 'form',
        'form': ajaxEasyForm,
        'path': path('app_ajax_twitter_api_keys'),
        'id': 'ajax-get-twapi-keys',
        'title': ' Update',
        'icon': 'fa-retweet'
      },
    ],
    'navs': [
      {'title': 'Followers', 'path': path('app_followers')},
    ]
  } %}

  <div class="tables-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <div class="card-style mb-30">
          <h6 class="mb-10">Data Table</h6>

          {% if followers.getTotalItemCount == 0 %}
            <p class="text-sm mb-20">
              Zero data...
            </p>
          {% else %}
            <p class="text-sm mb-20">
              Total: {{ followers.getTotalItemCount }} followers found.
            </p>
            <div class="table-wrapper table-responsive">
              <table class="table table-hover-shadow">
                <thead>
                  <tr class="text-nowrap">
                    <th><h6>🐥 Name</h6></th>
                    <th><h6>🐥 Usernme</h6></th>
                    <th><h6>🐥 Url</h6></th>
                    <th><h6>🐥 ID</h6></th>
                    <th><h6>🐥 Joined</h6></th>
                    <th><h6>🐥 Verified</h6></th>
                    <th><h6>Following</h6></th>
                    <th><h6>Favorite</h6></th>
                    <th><h6>Action</h6></th>
                    <th><h6>Edit</h6></th>
                    <th><h6>Delete</h6></th>
                  </tr>
                </thead>
                <tbody>
                  {% for follow in followers %}
                    <tr>
                      <td class="min-width">
                        <div class="lead">
                          <div class="lead-image">
                            <img src="{{ follow.twUser.avatar }}" alt="Avatar" title="{{ follow.twUser.twName }}">
                          </div>
                          <div class="lead-text">
                            <p>{{ follow.twUser.twName|slice(0, 20) ~ '...' }}</p>
                          </div>
                        </div>
                      </td>
                      <td class="min-width"><p title="{{ follow.twUser.twUsername }}">@{{ follow.twUser.twUsername|slice(0, 20) ~ '...' }}</p></td>
                      <td class="min-width"><p title="{{ follow.twUser.twUrl }}">{{ follow.twUser.twUrl|slice(0, 20) ~ '...' }}</p></td>
                      <td class="min-width"><p>{{ follow.twUser.twUserId }}</p></td>
                      <td class="min-width"><p>{{ follow.twUser.twCreatedAt|date('d/m/Y H:i') }}</p></td>
                      <td class="min-width"><p><span class="badge bg-secondary">{{ follow.twUser.twIsVerified ? 'Yes' : 'No' }}</span></p></td>
                      <td class="min-width"><p><span class="badge bg-secondary">{{ follow.isFollowing ? 'Yes' : 'No' }}</span></p></td>
                      <td class="min-width"><p>{{ follow.isFavorite ? '<span class="badge rounded-pill">⭐️</span>' : '<span class="badge bg-secondary">No</span>' }}</p></td>
                      <td>
                        <div class="action">
                          <a href="#" class="btn btn-{{ follow.isFavorite ? 'info' : 'warning' }}">Unfollow</a>
                        </div>
                      </td>
                      <td>
                        <div class="action">
                          <a href="{{ path('app_follow_edit', {'id': follow.id}) }}" class="btn btn-secondary">Edit</a>
                        </div>
                      </td>
                      <td>
                        <div class="action">
                          <a href="{{ path('app_follow_delete', {'id': follow.id}) }}" class="btn btn-danger"><i class="lni lni-trash-can"></i></a>
                        </div>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>

              {# display navigation #}
              <div class="table-pagination navigation d-flex justify-content-center mt-4">
                {{ knp_pagination_render(followers) }}
              </div>
            </div>
          {% endif %}

        </div>
      </div>
    </div>
  </div>

  {% import "theme/admin/common/macro/_modal.html.twig" as macroModal %}

  {{ macroModal.withBtnOkClose('modal-twapi-keys', 'Settings', 'Do not close. It may take time...', 'btn-update-followers') }}

  {{ form(ajaxHiddenForm) }}
{% endblock %}
