{% extends 'theme/admin/base.html.twig' %}

{% block title %}Twitthor - Platonics{% endblock %}

{% block body %}
  {# Actions #}
  {% set actions = [] %}
  {% if haveTwApiKeys|default(false) %}
    {% set actions = [
      {'type': 'ajax', 'title': 'Update', 'icon': 'fa-retweet', 'id': 'js-btn-update-modal', 'path': path('app_twitter_api_settings_html_ajax', {'query': 'platonics'})}
    ] %}
  {% endif %}

  {% include 'theme/admin/common/_title_wraper.html.twig' with {
    'title': 'Platonics',
    'actions': actions,
    'navs': [
      {'title': 'Platonics', 'path': path('app_platonics')},
    ]
  } %}

  <div class="tables-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <div class="card-style mb-30">
          <h6 class="mb-10">Data Table</h6>

          {% if rows.getTotalItemCount == 0 %}
            <p class="text-sm mb-20">
              Zero data...
            </p>
          {% else %}
            <p class="text-sm mb-20">
              Total: {{ rows.getTotalItemCount }} platonics found.
            </p>
            <div class="table-wrapper table-responsive">
              <table class="table table-hover-shadow">
                <thead>
                  <tr class="text-nowrap">
                    <th><h6><i class="fa-brands fa-twitter-square"></i> Name</h6></th>
                    <th><h6><i class="fa-brands fa-twitter-square"></i> Usernme</h6></th>
                    <th><h6><i class="fa-brands fa-twitter-square"></i> Url</h6></th>
                    <th><h6><i class="fa-brands fa-twitter-square"></i> ID</h6></th>
                    <th><h6><i class="fa-brands fa-twitter-square"></i> Joined</h6></th>
                    <th><h6><i class="fa-brands fa-twitter-square"></i> Verified</h6></th>
                    <th><h6>Favorite</h6></th>
                    <th><h6>Edit</h6></th>
                    <th><h6>Action</h6></th>
                  </tr>
                </thead>
                <tbody>
                  {% for row in rows %}
                    <tr id="row-{{ row.twUser.twAccountId }}">
                      <td class="min-width">
                        <div class="lead">
                          <a href="https://twitter.com/{{ row.twUser.twUsername }}" rel="noreferrer" target="_blank">
                            <div class="lead-image">
                              <img src="{{ app.request.schemeAndHttpHost ~ row.twUser.avatar }}" title="Go to : {{ row.twUser.twName }}" alt="Twitter Avatar">
                            </div>
                          </a>
                          <div class="lead-text">
                            <p>{{ row.twUser.twName|slice(0, 20) ~ '...' }}</p>
                          </div>
                        </div>
                      </td>
                      <td class="min-width"><p title="{{ row.twUser.twUsername }}">@{{ row.twUser.twUsername|slice(0, 20) ~ '...' }}</p></td>
                      <td class="min-width">
                        <p title="{{ row.twUser.twUrl }}">
                          {% if row.twUser.twUrl is not empty %}
                            <a href="{{ row.twUser.twUrl }}" rel="noreferrer" target="_blank">{{ row.twUser.twUrl|slice(0, 20) ~ '...' }}</a>
                          {% else %}
                            ...
                          {% endif %}
                        </p>
                      </td>
                      <td class="min-width"><p>{{ row.twUser.twAccountId }}</p></td>
                      <td class="min-width"><p>{{ row.twUser.twCreatedAt|date('d/m/Y H:i') }}</p></td>
                      <td class="min-width"><p>{{ row.twUser.twIsVerified ? '<span class="badge bg-info">Yes' : '<span class="badge bg-secondary">No' }}</span></p></td>
                      <td class="min-width">
                        <div class="form-check form-switch toggle-switch">
                          <div class="spinner-grow text-primary ajax-loader switch-loader pull-left" style="width:2rem;height:2rem;margin-left:-60px;display:none;" role="status">
                            <span class="sr-only">Loading...</span>
                          </div>
                          <input class="form-check-input js-switch-isfavorite" type="checkbox" value="{{ path('app_follow_isfavorite_ajax', {'id': row.id}) }}" autocomplete="off"{% if row.isFavorite %} checked="checked"{% endif %} data-target="{{ loop.index }}">
                        </div>
                      </td>
                      <td>
                        <div class="action">
                          <a href="{{ path('app_follow_edit', {'id': row.id}) }}" class="btn btn-secondary">Edit</a>
                        </div>
                      </td>
                      <td>
                        <div class="spinner-grow text-primary ajax-loader unfollow-loader pull-left" style="width:2rem;height:2rem;display:none;" role="status">
                          <span class="sr-only">Loading...</span>
                        </div>
                        <button type="button" value="{{ path('app_twitter_api_unfollow_ajax', {'id': row.id}) }}" class="btn btn-{{ row.isFavorite ? 'info' : 'warning' }} btn-hover js-btn-unfollow js-btn-unfollow-{{ loop.index }}">Unfollow</button>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>

              {# display navigation #}
              <div class="table-pagination navigation d-flex justify-content-center mt-4">
                {{ knp_pagination_render(rows) }}
              </div>
            </div>
          {% endif %}

        </div>
      </div>
    </div>
  </div>

  {% if haveTwApiKeys|default(false) %}
    {% import "theme/admin/common/macro/_modal.html.twig" as macroModal %}
    {{ macroModal.withBtnOkClose(
      'modal-twapi-settings',
      'Platonics update',
      '',
      [{
        'id': 'js-btn-update-platonic',
        'path': path('app_twitter_api_update_platonics_ajax'),
        'title': 'Go'
      }]
    ) }}
  {% endif %}
{% endblock %}
