{% macro withBtnOkClose(id, title, body, btnOkParams, btnCloseParams) %}
  <div class="modal fade" id="{{ id|default('modal') }}" data-bs-backdrop="{{ backdrop|default('static') }}" data-bs-keyboard="{{ keyboard|default('false') }}" tabindex="-1" aria-labelledby="{{ id|default('modal') }}-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="{{ id|default('modal') }}-label">{{ title|default(null) }}</h5>
          <button type="button" class="btn btn-close ev" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          {{ body|default(null) }}
        </div>

        <div class="modal-footer justify-content-between">
          <div class="pull-left">
            <div class="spinner-grow text-primary modal-loader" style="width:2rem;height:2rem;display:none;" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <div class="pull-right">
            <div class="btn-content d-flex justify-content-end">
              <button type="button" onclick="event.preventDefault();" class="btn btn-secondary text-nowrap ev btn-ko" data-bs-dismiss="modal"{% if btnCloseParams.path is defined %} value="{{ btnCloseParams.path }}"{% endif %}{% if btnCloseParams.Id is defined %} id="{{ btnCloseParams.id }}"{% endif %}>{{ btnCloseParams.title|default('Close') }}</button>
              <button type="button" onclick="event.preventDefault();" class="btn btn-primary text-nowrap ev btn-ok"{% if btnOkParams.path is defined %} value="{{ btnOkParams.path }}"{% endif %}{% if btnOkParams.id is defined %} id="{{ btnOkParams.id }}"{% endif %}>{{ btnOkParams.title|default('OK') }}</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
{% endmacro %}
