{% macro easySelect(options, label, id, class) %}
	<div class="{{ class|default('select-style-1') }}">
		<label>{{ label }}</label>
		<div class="select-position">
			<select class="ev"{% if id is defined %} id="{{ id }}"{% endif %}{% if name is defined %} name="{{ name }}"{% endif %}>
				{% for option in options %}
					<option{% if option.optionData is defined %} data-value="{{ option.optionData }}"{% endif %} value="{{ option.optionValue }}">{{ option.optionText }}</option>
				{% endfor %}
			</select>
		</div>
	</div>
{% endmacro %}}
