{% extends 'theme/admin/base.html.twig' %}

{% block title %}Twitthor - Twitter Users{% endblock %}

{% block body %}
  {% include 'theme/admin/common/_title_wraper.html.twig' with {
    'title': 'Twitter Users',
    'actions': [
      {'title': 'Add Twitter new user', 'icon': 'fa-plus', 'path': path('app_twitter_user_add')},
    ],
    'navs': [
      {'title': 'Twitter users', 'path': path('app_twitter_users')},
    ]
  } %}

  <div class="tables-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <div class="card-style mb-30">
          <h6 class="mb-10">Data Table</h6>

          {% if rows.getTotalItemCount == 0 %}
            <p class="text-sm mb-20">
              Zero data.
            </p>
          {% else %}
            <p class="text-sm mb-20">
              Total: {{ rows.getTotalItemCount }} Twitter users found.
            </p>
            <div class="table-wrapper table-responsive">
              <table class="table table-hover-shadow">
                <thead>
                  <tr class="text-nowrap">
                    <th><h6><i class="fa-brands fa-twitter-square"></i> Name</h6></th>
                    <th><h6><i class="fa-brands fa-twitter-square"></i> Usernme</h6></th>
                    <th><h6><i class="fa-brands fa-twitter-square"></i> Url</h6></th>
                    <th><h6><i class="fa-brands fa-twitter-square"></i> ID</h6></th>
                    <th><h6><i class="fa-brands fa-twitter-square"></i> Joined</h6></th>
                    <th><h6><i class="fa-brands fa-twitter-square"></i> Verified</h6></th>
                    <th><h6>Created</h6></th>
                    <th><h6>Updated</h6></th>
                    <th><h6>Edit</h6></th>
                    <th><h6>Delete</h6></th>
                  </tr>
                </thead>
                <tbody>
                  {% for row in rows %}
                    <tr>
                      <td class="min-width">
                        <div class="lead">
                          <a href="https://twitter.com/{{ row.twUsername }}" rel="noreferrer" target="_blank">
                            <div class="lead-image">
                              <img src="{{ app.request.schemeAndHttpHost ~ row.avatar }}" alt="Avatar" title="{{ row.twName }}">
                            </div>
                          </a>
                          <div class="lead-text">
                            <p>{{ row.twName|slice(0, 20) ~ '...' }}</p>
                          </div>
                        </div>
                      </td>
                      <td class="min-width"><p title="{{ row.twUsername }}">@{{ row.twUsername|slice(0, 20) ~ '...' }}</p></td>
                      <td class="min-width"><p title="{{ row.twUrl }}">{{ row.twUrl|slice(0, 20) ~ '...' }}</p></td>
                      <td class="min-width"><p>{{ row.twAccountId }}</p></td>
                      <td class="min-width"><p>{{ row.twCreatedAt|date('d/m/Y H:i') }}</p></td>
                      <td class="min-width"><p>{{ row.twIsVerified ? '<span class="badge bg-info">Yes' : '<span class="badge bg-secondary">No' }}</span></p></td>
                      <td class="min-width"><p>{{ row.createAt|date('d/m/Y h:i') }}</p></td>
                      <td class="min-width"><p>{{ row.updateAt|date('d/m/Y h:i') }}</p></td>
                      <td>
                        <div class="action">
                          <a href="{{ path('app_twitter_user_edit', {'id': row.id}) }}" class="btn btn-secondary">Edit</a>
                        </div>
                      </td>
                      <td>
                        <div class="action">
                          <a href="{{ path('app_twitter_user_delete', {'id': row.id}) }}" class="btn btn-danger"><i class="lni lni-trash-can"></i></a>
                        </div>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>

              {# display navigation #}
              <div class="table-pagination navigation d-flex justify-content-center mt-4">
                {{ knp_pagination_render(rows) }}
              </div>
            </div>
          {% endif %}

        </div>
      </div>
    </div>
  </div>
{% endblock %}
